html {
    background-color: #d9e7ff;
    color: #000;
    margin: 0;
}
.navbar-top-001 {
    background: transparent;
    margin: 0;
    text-decoration: none;
}
.navbar-top-links-title-001 {
    background-color: transparent;
    color: #000;
    text-decoration: none;

}
.content-area-001 {
    margin: 50px;
    padding: 10px;
    background-color: #ffff;
    border: solid 2px #000;
    border-radius: 20px;
}
.primary-content-001 {
    float: right;
    background-color: transparent;
    color: #000;
}
.adbar-001 {
    float: left;
    background-color: transparent;
    color: #000;
}
.footer-link-right-001 {

}
.footer-link-001 {

}